name: update

on:
  schedule:
    - cron: '0 16 * * *'
  workflow_dispatch:

jobs:
  update:
    if: github.repository == 'zeux/volk'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
    - name: update
      run: |
        python3 generate.py >version.txt
        echo "VOLK_VERSION=`cat version.txt`" >> $GITHUB_ENV
        rm version.txt
    - name: create pr
      uses: peter-evans/create-pull-request@v4
      with:
        branch: update/${{env.VOLK_VERSION}}
        delete-branch: true
        commit-message: Update to 1.3.${{env.VOLK_VERSION}}
        title: Update to 1.3.${{env.VOLK_VERSION}}
        author: GitHub <noreply@github.com>
